table {
	
	width: 80%;
	border-collapse: collapse;
	table-layout: fixed;
	
}

table, th, td {
	
	border: 1px solid black;
}

/*table#center {
	
	margin-left: auto;
	margin-right: auto;
	
}*/

.colheaders {
	
	text-align: left;
	
}

h2 {
	
	text-align: center;
	
}

#buttons {
	
	/*float: left;*/
}

